<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e8bab95a-6b79-48e9-b482-5ea603bdda3f" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="e8bab95a-6b79-48e9-b482-5ea603bdda3ffileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>
