<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ba04c281-7d8d-40a8-9edb-f243dc78c524" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ba04c281-7d8d-40a8-9edb-f243dc78c524fileName">REST-Service-1</con:setting></con:settings><con:definitionCache/><con:endpoints/></con:interface>
